In [1]:
!pip install pycaret fastapi uvicorn

Requirement already satisfied: pycaret in c:\users\kvsns\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: fastapi in c:\users\kvsns\anaconda3\lib\site-packages (0.111.0)
Requirement already satisfied: uvicorn in c:\users\kvsns\anaconda3\lib\site-packages (0.30.0)
Requirement already satisfied: ipython>=5.5.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (8.12.0)
Requirement already satisfied: ipywidgets>=7.6.5 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (7.8.1)
Requirement already satisfied: tqdm>=4.62.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (4.65.0)
Requirement already satisfied: numpy<1.27,>=1.21 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (1.24.3)
Requirement already satisfied: pandas<2.2.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (1.5.3)
Requirement already satisfied: jinja2>=3 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (3.1.2)
Requirement already satisfied: scipy<=1.11.4,>=1.6.1 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (1.10.1)
Requirement already satisfied: joblib<1.4,>=1.2.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (1.2.0)
Requirement already satisfied: scikit-learn>1.4.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (1.4.2)
Requirement already satisfied: pyod>=1.1.3 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (2.0.1)
Requirement already satisfied: imbalanced-learn>=0.12.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (0.12.3)
Requirement already satisfied: category-encoders>=2.4.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (2.6.3)
Requirement already satisfied: lightgbm>=3.0.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (4.5.0)
Requirement already satisfied: numba>=0.55.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (0.57.0)
Requirement already satisfied: requests>=2.27.1 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (2.31.0)
Requirement already satisfied: psutil>=5.9.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (5.9.0)
Requirement already satisfied: markupsafe>=2.0.1 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (2.1.1)
Requirement already satisfied: importlib-metadata>=4.12.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (6.0.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (5.7.0)
Requirement already satisfied: cloudpickle in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (2.2.1)
Requirement already satisfied: deprecation>=2.1.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (2.1.0)
Requirement already satisfied: xxhash in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (3.4.1)
Requirement already satisfied: matplotlib<3.8.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (3.7.1)
Requirement already satisfied: scikit-plot>=0.3.7 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (0.3.7)
Requirement already satisfied: yellowbrick>=1.4 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (1.5)
Requirement already satisfied: plotly>=5.14.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (5.23.0)
Requirement already satisfied: kaleido>=0.2.1 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (0.2.1)
Requirement already satisfied: schemdraw==0.15 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (0.15)
Requirement already satisfied: plotly-resampler>=0.8.3.1 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (0.10.0)
Requirement already satisfied: statsmodels>=0.12.1 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (0.14.0)
Requirement already satisfied: sktime==0.26.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (0.26.0)
Requirement already satisfied: tbats>=1.1.3 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (1.1.3)
Requirement already satisfied: pmdarima>=2.0.4 in c:\users\kvsns\anaconda3\lib\site-packages (from pycaret) (2.0.4)
Requirement already satisfied: packaging in c:\users\kvsns\anaconda3\lib\site-packages (from sktime==0.26.0->pycaret) (23.2)
Requirement already satisfied: scikit-base<0.8.0 in c:\users\kvsns\anaconda3\lib\site-packages (from sktime==0.26.0->pycaret) (0.7.8)
Requirement already satisfied: starlette<0.38.0,>=0.37.2 in c:\users\kvsns\anaconda3\lib\site-packages (from fastapi) (0.37.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4 in c:\users\kvsns\anaconda3\lib\site-packages (from fastapi) (2.7.2)
Requirement already satisfied: typing-extensions>=4.8.0 in c:\users\kvsns\anaconda3\lib\site-packages (from fastapi) (4.10.0)
Requirement already satisfied: fastapi-cli>=0.0.2 in c:\users\kvsns\anaconda3\lib\site-packages (from fastapi) (0.0.4)
Requirement already satisfied: httpx>=0.23.0 in c:\users\kvsns\anaconda3\lib\site-packages (from fastapi) (0.27.0)
Requirement already satisfied: python-multipart>=0.0.7 in c:\users\kvsns\anaconda3\lib\site-packages (from fastapi) (0.0.9)
Requirement already satisfied: ujson!=4.0.2,!=4.1.0,!=4.2.0,!=4.3.0,!=5.0.0,!=5.1.0,>=4.0.1 in c:\users\kvsns\anaconda3\lib\site-packages (from fastapi) (5.4.0)
Requirement already satisfied: orjson>=3.2.1 in c:\users\kvsns\anaconda3\lib\site-packages (from fastapi) (3.10.3)
Requirement already satisfied: email_validator>=2.0.0 in c:\users\kvsns\anaconda3\lib\site-packages (from fastapi) (2.1.1)
Requirement already satisfied: click>=7.0 in c:\users\kvsns\anaconda3\lib\site-packages (from uvicorn) (8.0.4)
Requirement already satisfied: h11>=0.8 in c:\users\kvsns\anaconda3\lib\site-packages (from uvicorn) (0.14.0)
Requirement already satisfied: patsy>=0.5.1 in c:\users\kvsns\anaconda3\lib\site-packages (from category-encoders>=2.4.0->pycaret) (0.5.3)
Requirement already satisfied: colorama in c:\users\kvsns\anaconda3\lib\site-packages (from click>=7.0->uvicorn) (0.4.6)
Requirement already satisfied: dnspython>=2.0.0 in c:\users\kvsns\anaconda3\lib\site-packages (from email_validator>=2.0.0->fastapi) (2.6.1)
Requirement already satisfied: idna>=2.0.0 in c:\users\kvsns\anaconda3\lib\site-packages (from email_validator>=2.0.0->fastapi) (3.4)
Requirement already satisfied: typer>=0.12.3 in c:\users\kvsns\anaconda3\lib\site-packages (from fastapi-cli>=0.0.2->fastapi) (0.12.3)
Requirement already satisfied: anyio in c:\users\kvsns\anaconda3\lib\site-packages (from httpx>=0.23.0->fastapi) (3.5.0)
Requirement already satisfied: certifi in c:\users\kvsns\anaconda3\lib\site-packages (from httpx>=0.23.0->fastapi) (2024.2.2)
Requirement already satisfied: httpcore==1.* in c:\users\kvsns\anaconda3\lib\site-packages (from httpx>=0.23.0->fastapi) (1.0.5)
Requirement already satisfied: sniffio in c:\users\kvsns\anaconda3\lib\site-packages (from httpx>=0.23.0->fastapi) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kvsns\anaconda3\lib\site-packages (from imbalanced-learn>=0.12.0->pycaret) (2.2.0)
Requirement already satisfied: zipp>=0.5 in c:\users\kvsns\anaconda3\lib\site-packages (from importlib-metadata>=4.12.0->pycaret) (3.11.0)
Requirement already satisfied: backcall in c:\users\kvsns\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: decorator in c:\users\kvsns\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kvsns\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\kvsns\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\kvsns\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\kvsns\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kvsns\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (2.15.1)
Requirement already satisfied: stack-data in c:\users\kvsns\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\kvsns\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (5.7.1)
Requirement already satisfied: comm>=0.1.3 in c:\users\kvsns\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (0.2.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\kvsns\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.6 in c:\users\kvsns\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (3.6.6)
Requirement already satisfied: jupyterlab-widgets<3,>=1.0.0 in c:\users\kvsns\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (1.1.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kvsns\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\kvsns\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kvsns\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kvsns\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kvsns\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kvsns\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kvsns\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (2.8.2)
Requirement already satisfied: fastjsonschema in c:\users\kvsns\anaconda3\lib\site-packages (from nbformat>=4.2.0->pycaret) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\kvsns\anaconda3\lib\site-packages (from nbformat>=4.2.0->pycaret) (4.17.3)
Requirement already satisfied: jupyter-core in c:\users\kvsns\anaconda3\lib\site-packages (from nbformat>=4.2.0->pycaret) (5.3.0)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\kvsns\anaconda3\lib\site-packages (from numba>=0.55.0->pycaret) (0.40.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kvsns\anaconda3\lib\site-packages (from pandas<2.2.0->pycaret) (2022.7)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\kvsns\anaconda3\lib\site-packages (from plotly>=5.14.0->pycaret) (8.2.2)
Requirement already satisfied: dash>=2.9.0 in c:\users\kvsns\anaconda3\lib\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (2.17.1)
Requirement already satisfied: tsdownsample>=0.1.3 in c:\users\kvsns\anaconda3\lib\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (0.1.3)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in c:\users\kvsns\anaconda3\lib\site-packages (from pmdarima>=2.0.4->pycaret) (3.0.10)
Requirement already satisfied: urllib3 in c:\users\kvsns\anaconda3\lib\site-packages (from pmdarima>=2.0.4->pycaret) (1.26.19)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pmdarima>=2.0.4->pycaret) (68.0.0)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\kvsns\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (0.7.0)
Requirement already satisfied: pydantic-core==2.18.3 in c:\users\kvsns\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (2.18.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kvsns\anaconda3\lib\site-packages (from requests>=2.27.1->pycaret) (2.0.4)
Requirement already satisfied: httptools>=0.5.0 in c:\users\kvsns\anaconda3\lib\site-packages (from uvicorn) (0.6.1)
Requirement already satisfied: python-dotenv>=0.13 in c:\users\kvsns\anaconda3\lib\site-packages (from uvicorn) (1.0.1)
Requirement already satisfied: pyyaml>=5.1 in c:\users\kvsns\anaconda3\lib\site-packages (from uvicorn) (6.0)
Requirement already satisfied: watchfiles>=0.13 in c:\users\kvsns\anaconda3\lib\site-packages (from uvicorn) (0.22.0)
Requirement already satisfied: websockets>=10.4 in c:\users\kvsns\anaconda3\lib\site-packages (from uvicorn) (10.4)
Requirement already satisfied: Flask<3.1,>=1.0.4 in c:\users\kvsns\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.2.2)
Requirement already satisfied: Werkzeug<3.1 in c:\users\kvsns\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.2.3)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\kvsns\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\kvsns\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\kvsns\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (5.0.0)
Requirement already satisfied: retrying in c:\users\kvsns\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.3.4)
Requirement already satisfied: nest-asyncio in c:\users\kvsns\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.5.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\kvsns\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\kvsns\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (23.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\kvsns\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.18.0)
Requirement already satisfied: six in c:\users\kvsns\anaconda3\lib\site-packages (from patsy>=0.5.1->category-encoders>=2.4.0->pycaret) (1.16.0)
Requirement already satisfied: wcwidth in c:\users\kvsns\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=5.5.0->pycaret) (0.2.5)
Requirement already satisfied: shellingham>=1.3.0 in c:\users\kvsns\anaconda3\lib\site-packages (from typer>=0.12.3->fastapi-cli>=0.0.2->fastapi) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in c:\users\kvsns\anaconda3\lib\site-packages (from typer>=0.12.3->fastapi-cli>=0.0.2->fastapi) (13.7.1)
Requirement already satisfied: notebook>=4.4.1 in c:\users\kvsns\anaconda3\lib\site-packages (from widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (6.5.4)
Requirement already satisfied: platformdirs>=2.5 in c:\users\kvsns\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->pycaret) (2.5.2)
Requirement already satisfied: pywin32>=300 in c:\users\kvsns\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->pycaret) (305.1)
Requirement already satisfied: executing in c:\users\kvsns\anaconda3\lib\site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: asttokens in c:\users\kvsns\anaconda3\lib\site-packages (from stack-data->ipython>=5.5.0->pycaret) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\kvsns\anaconda3\lib\site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.2.2)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\kvsns\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.1)
Requirement already satisfied: tornado>=6.1 in c:\users\kvsns\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (6.3.2)
Requirement already satisfied: pyzmq>=17 in c:\users\kvsns\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (23.2.0)
Requirement already satisfied: argon2-cffi in c:\users\kvsns\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (21.3.0)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\kvsns\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (7.4.9)
Requirement already satisfied: nbconvert>=5 in c:\users\kvsns\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (6.5.4)
Requirement already satisfied: ipykernel in c:\users\kvsns\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (6.19.2)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\kvsns\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\kvsns\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (0.17.1)
Requirement already satisfied: prometheus-client in c:\users\kvsns\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (0.14.1)
Requirement already satisfied: nbclassic>=0.4.7 in c:\users\kvsns\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (0.5.5)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\kvsns\anaconda3\lib\site-packages (from rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.2->fastapi) (2.2.0)
Requirement already satisfied: entrypoints in c:\users\kvsns\anaconda3\lib\site-packages (from jupyter-client>=5.3.4->notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (0.4)
Requirement already satisfied: mdurl~=0.1 in c:\users\kvsns\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.2->fastapi) (0.1.0)
Requirement already satisfied: jupyter-server>=1.8 in c:\users\kvsns\anaconda3\lib\site-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (1.23.4)
Requirement already satisfied: notebook-shim>=0.1.0 in c:\users\kvsns\anaconda3\lib\site-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (0.2.2)
Requirement already satisfied: lxml in c:\users\kvsns\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (4.9.2)
Requirement already satisfied: beautifulsoup4 in c:\users\kvsns\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (4.12.2)
Requirement already satisfied: bleach in c:\users\kvsns\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\kvsns\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\kvsns\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\kvsns\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\kvsns\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.6->ipywidgets>=7.6.5->pycaret) (0.5.13)

In [2]:
import pycaret
pycaret.__version__

'3.3.2'

In [3]:
import pandas as pd
import numpy as n

data = pd.read_csv("actions.csv")

In [4]:
data

,id,creator_id,project_id,issue_id,owner_contact_id,owner_contact_name,action_identifier,description,original_description,due_date,decision_made,status,progress,gyr,urls,created_at,updated_at
0,1,2,4,1,6.0,T.J. Shalmark,I1-A1,Most of what we are doing is to receive more t...,Develop plan,2021-12-10,0,open,100,green,[],2021-11-26 12:09:56,2022-08-30 07:37:22
1,5,2,4,4,8.0,Sal Nuberg,I4-A1,Most of what we are doing is to receive more t...,develop design,2022-01-16,1,open,65,green,[],2021-11-29 05:49:32,2022-08-30 07:36:44
2,6,2,4,1,7.0,Jerri Shaw,I1-A3,Most of what we are doing is to receive more t...,do the plan,2021-12-01,0,open,95,green,[],2021-11-29 05:50:23,2022-08-30 07:38:05
3,8,2,4,4,12.0,Janet Dietrich,I4-A2,done,design the screen details,2022-07-29,0,closed,95,green,[],2021-11-30 04:52:41,2022-08-30 07:41:29
4,9,2,2,5,13.0,Steve Sammy,I1-A1,"so far so good, but not finished",Ensure listing of correct stakeholders,2022-08-31,1,closed,70,green,[],2021-12-01 11:41:10,2022-10-12 06:02:48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,1289,2,231,1185,666.0,Bobby Builder,ACT4,NaN,build floor frame,2024-05-08,0,open,0,green,[],2024-01-30 15:24:28,2024-01-30 15:24:28
981,1290,2,231,1186,667.0,Wallimina Good,ACT5,NaN,build walls to plan,2024-05-10,0,open,0,green,[],2024-01-30 15:24:28,2024-01-30 15:24:28
982,1291,2,231,1187,667.0,Wallimina Good,ACT6,NaN,install all walls per blueprints,2024-05-15,0,open,0,green,[],2024-01-30 15:24:28,2024-01-30 15:24:28
983,1292,2,231,1188,NaN,NaN,ACT7,NaN,install roof trusses,2024-05-21,0,open,0,green,[],2024-01-30 15:24:28,2024-01-30 15:24:28
984,1293,2,231,1189,668.0,Roofus Rep,ACT8,NaN,install roof sheathing and shingles,2024-05-27,0,open,0,green,[],2024-01-30 15:24:28,2024-01-30 15:24:28

In [6]:
from pycaret.regression import *

s = setup(data, target = 'progress')

In [7]:
best = compare_models()

In [8]:
df2 = pd.read_csv("action_histories.csv")
df2

,id,creator_id,action_id,owner_contact_id,description,due_date,decision_made,status,progress,gyr,urls,created_at,updated_at
0,1,NaN,1,6.0,Most of what we are doing is to receive more t...,2021-12-10,0,open,0,green,NaN,2021-11-26 12:09:56,2021-11-26 12:09:56
1,2,NaN,1,6.0,Most of what we are doing is to receive more t...,2021-12-10,1,open,10,green,NaN,2021-11-26 12:10:15,2021-11-26 12:10:15
2,6,NaN,5,8.0,Most of what we are doing is to receive more t...,2021-11-29,1,open,50,green,NaN,2021-11-29 05:49:32,2021-11-29 05:49:32
3,7,NaN,6,7.0,Most of what we are doing is to receive more t...,2021-12-01,0,open,10,green,NaN,2021-11-29 05:50:23,2021-11-29 05:50:23
4,10,NaN,5,8.0,This work continues to be worked on. I have be...,2021-12-10,1,open,65,green,NaN,2021-11-30 04:40:37,2021-11-30 04:40:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1918,2341,NaN,1289,666.0,NaN,2024-05-08,0,open,0,green,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28
1919,2342,NaN,1290,667.0,NaN,2024-05-10,0,open,0,green,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28
1920,2343,NaN,1291,667.0,NaN,2024-05-15,0,open,0,green,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28
1921,2344,NaN,1292,NaN,NaN,2024-05-21,0,open,0,green,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28
1922,2345,NaN,1293,668.0,NaN,2024-05-27,0,open,0,green,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28

In [9]:
from pycaret.regression import *

s = setup(df2, target = 'progress')

In [10]:
best = compare_models()

In [11]:
df3 = pd.read_csv("changes.csv")
df3

,id,creator_id,project_id,approver_contact_id,change_identifier,description,reference,department,status,reason,financial_impact_amount,financial_impact_status,impact_days,created_at,updated_at
0,1,2,4,158.0,CR1,bring on more people or change the priorrity o...,NaN,Technical Support,declined,We may be having some scheduling issues with t...,14787.0,firm,7.0,2021-11-26 12:06:02,2022-03-24 09:37:52
1,2,2,4,76.0,CR2,Full sorting alpha across all titles. The abil...,NaN,Executive,investigating,New scope added from the sponsor and this is s...,17876.0,firm,10.0,2021-11-29 06:15:11,2022-04-11 14:51:41
2,3,2,4,8.0,CR3,increase budget but does not involve any time ...,CR007,Licensing,submitted,Need more funds to license the new technology ...,21098.0,firm,11.0,2021-11-29 12:50:36,2022-04-11 10:03:08
3,4,2,4,NaN,CR4,will need to add 2 more marketing resources to...,NaN,Executive,declined,Need to do this.\nUse this link: http://www.um...,22344.0,estimate,0.0,2021-11-30 04:16:49,2022-02-28 13:47:24
4,5,6,12,NaN,CR1,NaN,NaN,NaN,investigating,budget constraints,50000.0,estimate,NaN,2022-01-16 04:52:49,2022-03-27 11:44:53
5,6,6,12,NaN,CR2,NaN,NaN,NaN,declined,change test under declined,NaN,NaN,NaN,2022-01-16 05:04:03,2022-01-16 05:04:21
6,7,2,2,1.0,CR1,further discussions with group to add resource...,NaN,Executive,investigating,Underestimated cost and resources required for...,30000.0,estimate,10.0,2022-01-23 04:10:42,2022-03-01 12:11:54
7,8,2,2,1.0,CR2,require documentation to be developed,NaN,Marketing,declined,Lack of training materials to be available to ...,NaN,NaN,7.0,2022-01-23 04:12:12,2022-01-23 04:12:12
8,9,2,2,1.0,CR3,Resources needed to install VDT in unscheduled...,NaN,Operations,submitted,Ops wants more time to implement in another se...,25000.0,estimate,20.0,2022-01-23 04:13:53,2022-01-23 04:13:53
9,10,42,25,53.0,CR1,We need more efforts to make this tool intuitive,CR001,HR,submitted,Add more budget,5000.0,estimate,5.0,2022-02-07 02:37:59,2022-02-07 02:37:59
10,11,46,36,66.0,CR1,Description of change required,Change Record,Business,submitted,Reason for Change,35453544.0,firm,-787.0,2022-02-28 03:48:55,2022-02-28 03:48:55
11,12,46,36,67.0,CR2,Test,Change Record 2,Arts,approved,Test,6545.0,firm,5756.0,2022-02-28 03:50:11,2022-02-28 03:50:11
12,13,2,2,42.0,CR4,uncertain,NaN,NaN,investigating,not sure yet,123466.0,estimate,3.0,2022-03-04 12:28:25,2022-03-04 13:10:14
13,14,2,4,5.0,CR5,new resources funding required along with a we...,CMOCR 455,Operations,approved,Added functionality to VDT,33000.0,estimate,9.0,2022-03-05 09:37:29,2022-03-05 09:37:29
14,15,2,4,7.0,CR6,https://meet.google.com/bib-rejy-guj?authuser=0,CR-PMO-776,Finance,declined,Did not consider the support costs (first year...,12000.0,estimate,0.0,2022-03-06 12:01:27,2022-03-24 09:35:02
15,17,52,56,103.0,CR1,Arrange the schedules of the resources we need...,NaN,Fabrication,approved,resources not available in the planned timefra...,2765.0,firm,7.0,2022-03-14 06:33:03,2023-02-06 09:41:23
16,18,56,64,116.0,CR1,Price increase to work the second shift to per...,GWC 2nd Shift,NaN,investigating,Summer school will be held at GWC,150000.0,estimate,NaN,2022-03-14 10:31:38,2022-03-14 10:31:38
17,19,56,64,117.0,CR2,Need to move start date back to Spring Break w...,NaN,PM TEAM,approved,Shipping Delay and School Access,NaN,firm,8.0,2022-03-14 10:47:13,2022-03-14 10:47:13
18,20,56,64,116.0,CR3,Replace valves at Tech and Shabazz HS,Valve Replacement,NaN,investigating,Client request,150000.0,estimate,NaN,2022-03-15 04:28:47,2022-03-15 04:28:47
19,21,35,69,127.0,CR1,New development to be done,NaN,Sponsor,investigating,Epic 2 Added functionality,9500.0,estimate,5.0,2022-03-15 12:49:54,2022-03-21 05:34:00
20,22,35,69,127.0,CR2,new tech resources needed and beck-end developer,NaN,Executive,investigating,Added functionality,10000.0,estimate,14.0,2022-03-21 05:35:25,2022-03-21 05:35:25
21,23,35,70,146.0,CR1,New development to be done,NaN,Executive,approved,Added functionality,4328.0,firm,3.0,2022-03-21 05:49:14,2022-03-21 05:49:14
22,24,35,70,146.0,CR2,extend timeframe and establish new plan schedule,NaN,Developers,approved,wanted to extend epic timeframe to accommodate...,NaN,NaN,8.0,2022-03-21 05:50:50,2022-03-21 12:36:07
23,25,6,12,164.0,CR3,new date still to be determined.,NaN,NaN,investigating,time,NaN,NaN,60.0,2022-03-27 11:46:31,2022-03-27 11:51:11
24,26,6,12,NaN,CR4,NaN,NaN,NaN,investigating,budget constraints,NaN,NaN,NaN,2022-03-27 12:05:44,2022-03-27 12:05:44
25,27,2,4,111.0,CR7,need to add two more tech support people for o...,NaN,IT Infrastructure,investigating,Not enough resources made available for testing,7675.0,firm,0.0,2022-03-31 05:41:12,2022-07-07 05:04:03
26,28,6,79,NaN,CR1,Again trying to see what gets captured in the ...,NaN,NaN,declined,budget constraints,100.0,NaN,1.0,2022-04-09 10:58:42,2022-04-09 12:16:31
27,29,6,79,168.0,CR2,NaN,NaN,NaN,approved,time,1000.0,estimate,10.0,2022-04-09 12:11:40,2022-04-09 12:12:40
28,30,6,79,NaN,CR3,yes,NaN,NaN,investigating,budget constraints,10000.0,NaN,NaN,2022-04-09 12:29:55,2022-04-09 12:30:12
29,31,2,1,71.0,CR1,potential extension of schedule to accommodate...,NaN,PMO,investigating,New security mandate with firewall set up need...,0.0,estimate,3.0,2022-08-30 07:20:11,2022-08-30 07:20:11
30,32,2,126,233.0,CR1,we need to delay the tech system install for a...,CR002,Executive,approved,New security updates for the retail tech syste...,23556.0,firm,14.0,2022-11-02 12:02:56,2024-01-16 07:50:02
31,33,2,126,233.0,CR2,budget change to purchase security system,CR001,Operations,submitted,Security system not included in design and plan,1796.0,firm,5.0,2022-11-02 12:05:28,2023-03-21 14:01:54
32,34,2,126,237.0,CR3,Delay construction schedule for inside the store,CR007,Cust Ops,investigating,There has been a delay in procurement of sever...,1217.0,firm,6.0,2023-03-21 14:03:58,2023-03-23 06:32:51
33,35,2,132,284.0,CR1,need to have new paint,NaN,Procurement,investigating,forgot about the style council,1200.0,estimate,NaN,2023-05-04 10:10:11,2024-01-16 07:47:26
34,36,2,201,614.0,CR1,redo schedule and confirm resources,CR#44,Business Dev.,investigating,resources not able to perform on schedule,10000.0,estimate,30.0,2023-11-07 07:44:08,2023-11-07 07:44:08
35,37,2,127,242.0,CR1,Final approval and install plan and execution ...,NaN,IT Support,approved,The budget should increase to accept the purch...,2350.0,estimate,14.0,2024-01-17 04:11:04,2024-01-30 12:54:41

In [14]:
from pycaret.regression import *

s = setup(df3, target = 'impact_days')--> Need to clean the dataset

In [15]:
best = compare_models()

In [16]:
df4 = pd.read_csv("contacts.csv") ###No Need for Alogrithm for this table
df4

,id,creator_id,company_id,first_name,last_name,full_name,email,company_name,department,phone_number,position_title,role,created_at,updated_at,deleted_at
0,1,2,2,Janice,Wong,Janice Wong,JW@rogattnet.au,Rogatt Networks,NaN,443-87659,Director,sponsor,2021-11-23 05:07:29,2021-11-23 05:07:29,NaN
1,2,2,2,Steve,Sammy,Steve Sammy,steve@traxidy.com,Traxidy Inc.,NaN,NaN,Manager,sponsor,2021-11-23 05:11:21,2021-11-23 05:11:21,NaN
2,3,2,2,Richard,Austin,Richard Austin,richard_austin@rogers.com,Rick Co.,Development,8-900-555-1226,Boffin,team_member,2021-11-23 05:13:37,2022-10-12 07:01:58,NaN
3,4,2,2,Jan,Dietrich,Jan Dietrich,jan.dietrich@traxidy.com,Traxidy Inc.,Marketing,NaN,CMO,key_stakeholder,2021-11-23 05:15:05,2021-11-23 05:15:05,NaN
4,5,2,2,Reggy,Ralphson,Reggy Ralphson,RR@shalphy.com,NaN,NaN,NaN,VP Technology,sponsor,2021-11-26 12:01:31,2021-11-26 12:01:31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,288,2,2,Sam,Smith,Sam Smith,smitty@erade.ca,NaN,NaN,NaN,NaN,NaN,2023-11-22 10:58:09,2023-11-22 10:58:09,NaN
276,292,2,2,stab,jsghfs,stab jsghfs,hsgste@rgsrstfs.com,NaN,NaN,NaN,NaN,NaN,2024-01-30 14:42:44,2024-01-30 14:42:44,NaN
277,293,2,2,Bobby,Builder,Bobby Builder,bbuilder@traxidy.com,NaN,NaN,NaN,NaN,NaN,2024-01-30 14:45:05,2024-01-30 14:45:05,NaN
278,294,2,2,Wallimina,Good,Wallimina Good,wallgood@traxidy.com,NaN,NaN,NaN,NaN,NaN,2024-01-30 14:53:26,2024-01-30 14:53:26,NaN
279,295,2,2,Roofus,Rep,Roofus Rep,roof.rep@traxidy.com,NaN,NaN,NaN,NaN,NaN,2024-01-30 14:55:09,2024-01-30 14:55:09,NaN

In [17]:
df5 = pd.read_csv("gyr_constraints.csv")
df5

,id,creator_id,project_id,constraint,status,comments,previous_status,created_at,updated_at
0,1,2,1,overall,green,NaN,NaN,2021-11-23 05:04:23,2021-11-23 05:04:23
1,2,2,1,scope,green,NaN,NaN,2021-11-23 05:04:23,2021-11-23 05:04:23
2,3,2,1,budget,green,NaN,NaN,2021-11-23 05:04:23,2021-11-23 05:04:23
3,4,2,1,schedule,green,NaN,NaN,2021-11-23 05:04:23,2021-11-23 05:04:23
4,5,2,2,overall,green,NaN,NaN,2021-11-23 05:07:29,2021-11-23 05:07:29
...,...,...,...,...,...,...,...,...,...
994,1155,2,230,schedule,green,NaN,NaN,2024-01-30 15:19:34,2024-01-30 15:19:34
995,1156,2,231,overall,green,NaN,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28
996,1157,2,231,scope,green,NaN,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28
997,1158,2,231,budget,green,NaN,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28
998,1159,2,231,schedule,green,NaN,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28

In [ ]:
from pycaret.regression import *

s = setup(df5, target = 'status') --> Need to change status to numerically column

In [20]:
df6 = pd.read_csv("milestones.csv") --> Need to change gyr_status to numerically column
df6

,id,project_id,creator_id,description,gyr_status,plan_date,created_at,updated_at
0,1,4,2,milestone one,complete,2021-12-01,2021-11-30 04:23:12,2021-11-30 04:30:38
1,2,4,2,milestone two,green,2021-12-08,2021-11-30 04:23:27,2022-03-23 12:06:27
2,3,4,2,milestone three,red,2022-03-11,2021-11-30 04:29:11,2022-03-09 12:43:33
3,4,4,2,milestone four,green,2022-04-08,2021-11-30 04:29:44,2022-03-09 12:43:50
4,5,4,2,milestone 2.2,complete,2021-12-09,2021-11-30 04:30:13,2022-02-28 13:42:36
...,...,...,...,...,...,...,...,...
371,476,230,2,Roof Complete and Shed Complete,green,2024-05-27,2024-01-30 15:19:34,2024-01-30 15:19:34
372,477,231,2,Materials obtained,green,2024-05-04,2024-01-30 15:24:28,2024-01-30 15:24:28
373,478,231,2,Foundation complete,green,2024-05-08,2024-01-30 15:24:28,2024-01-30 15:24:28
374,479,231,2,Wall Installation Complete,green,2024-05-15,2024-01-30 15:24:28,2024-01-30 15:24:28
375,480,231,2,Roof Complete and Shed Complete,green,2024-05-27,2024-01-30 15:24:28,2024-01-30 15:24:28

In [21]:
df7 = pd.read_csv("mitigations.csv")###No Need for Alogrithm for this table
df7

,id,creator_id,risk_id,description,created_at,updated_at
0,1,2,6,We need to ensure that the schedule does not s...,2021-11-29 12:06:19,2021-11-29 12:06:19
1,2,2,2,We need to ensure that the schedule does not s...,2021-11-29 12:06:42,2021-11-29 12:06:42
2,4,2,5,We need to ensure that the schedule does not s...,2021-11-29 12:06:55,2021-11-29 12:06:55
3,5,42,15,Ask questions during demo session,2022-02-07 02:33:06,2022-02-07 02:33:06
4,6,32,16,Negotiate penalty clauses in the SOW,2022-02-15 14:00:26,2022-02-15 14:00:26
5,7,46,17,Test Mitigation,2022-02-28 04:00:27,2022-02-28 04:00:27
6,8,46,18,Test Mitigation,2022-02-28 04:01:29,2022-02-28 04:01:29
7,9,2,11,Priorities that need to be done. The 1st prior...,2022-03-04 12:09:58,2022-03-04 12:09:58
8,10,2,7,this is something that can be managed,2022-03-04 13:08:36,2022-03-04 13:08:36
9,11,2,22,There was a lot of talk between the president ...,2022-03-05 08:33:35,2022-03-05 08:33:35
10,12,2,24,The other aspects discussed included new proce...,2022-03-05 08:36:47,2022-03-05 08:36:47
11,13,2,19,The other aspects discussed included new proce...,2022-03-05 08:37:02,2022-03-05 08:37:02
12,14,2,23,The other aspects discussed included new proce...,2022-03-05 08:37:09,2022-03-05 08:37:09
13,15,2,25,Director to meet to confirm availability,2022-03-06 10:15:52,2022-03-06 10:15:52
14,16,2,25,Meeting set for this week & will report back,2022-03-06 10:18:17,2022-03-06 10:18:17
15,17,2,26,need to review the latest information on the s...,2022-03-09 04:19:20,2022-03-09 04:19:20
16,18,52,6,xxxxxxxxxxxxxxx,2022-03-14 06:41:59,2022-03-14 06:41:59
17,19,35,33,no mitigation yet,2022-03-17 15:45:25,2022-03-17 15:45:25
18,20,35,35,see if there is another time to have the speak...,2022-03-21 05:18:28,2022-03-21 05:18:28
19,21,35,35,two other times are possible but both have imp...,2022-03-21 05:19:20,2022-03-21 05:19:20
20,22,35,34,review vacation sched with each group,2022-03-21 05:19:52,2022-03-21 05:19:52
21,23,2,6,we need to do something to reduce the probabil...,2022-03-24 05:19:34,2022-03-24 05:19:34
22,24,2,9,we need to do something to reduce the probabil...,2022-03-24 05:21:48,2022-03-24 05:21:48
23,25,2,38,we need to do something to reduce the probabil...,2022-03-24 05:21:55,2022-03-24 05:21:55
24,26,2,4,we need to do something to reduce the probabil...,2022-03-24 05:22:07,2022-03-24 05:22:07
25,27,2,1,we need to do something to reduce the probabil...,2022-03-24 05:22:16,2022-03-24 05:22:16
26,28,6,39,Get more $,2022-03-27 10:04:29,2022-03-27 10:04:29
27,29,6,40,Borrow resources,2022-03-27 10:05:30,2022-03-27 10:05:30
28,30,6,41,Monitor weekly,2022-03-27 10:06:25,2022-03-27 10:06:25
29,31,6,40,wso to hmcahd jae before i run out of space an...,2022-03-27 10:48:04,2022-03-27 10:48:04
30,32,56,43,Keeping Andrew on Track,2022-03-29 10:11:46,2022-03-29 10:11:46
31,33,2,38,keep close eye on the progress of the construc...,2022-03-31 12:36:13,2022-03-31 12:36:13
32,34,2,26,we have the information per the current requir...,2022-03-31 16:03:22,2022-03-31 16:03:22
33,35,55,47,Need to track closely,2022-04-25 15:32:34,2022-04-25 15:32:34
34,36,2,48,review to see if subs can be added into projects,2022-05-04 10:51:44,2022-05-04 10:51:44
35,37,2,48,I did ask that vacations be reconsidered aroun...,2022-05-18 06:01:58,2022-05-18 06:01:58
36,38,2,38,"newest plan is to accept the risk, but probabi...",2022-06-13 05:21:07,2022-06-13 05:21:07
37,39,2,55,Enter job advert in multiple employment platforms,2022-11-14 11:34:24,2022-11-14 11:34:24

In [22]:
df8 = pd.read_csv("project_contacts.csv")###No Need for Alogrithm for this table
df8

,id,creator_id,contact_id,project_id,first_name,last_name,full_name,email,company_name,department,phone_number,position_title,role,access_type,created_at,updated_at
0,1,2,1,2,Janice,Wong,Janice Wong,JW@rogattnet.au,Rogatt Networks,NaN,443-87659,Director,sponsor,not_needed,2021-11-23 05:07:29,2021-11-23 05:07:29
1,2,2,2,3,Steve,Sammy,Steve Sammy,steve@traxidy.com,Traxidy Inc.,NaN,NaN,Project Manager,sponsor,not_needed,2021-11-23 05:11:21,2021-11-23 05:16:11
2,3,2,3,3,Richard,Austin,Richard Austin,richard_austin@rogers.com,NaN,Development,NaN,Boffin,team_member,not_needed,2021-11-23 05:13:37,2022-01-20 07:37:04
3,4,2,4,3,Jan,Dietrich,Jan Dietrich,jan.dietrich@traxidy.com,Traxidy Inc.,Marketing,NaN,CMO,sponsor,reviewer,2021-11-23 05:15:05,2022-01-14 09:02:21
4,5,2,5,4,Reggy,Ralphson,Reggy Ralphson,RR@shalphy.com,NaN,NaN,NaN,VP Technology,sponsor,not_needed,2021-11-26 12:01:31,2021-11-26 12:01:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,664,2,295,230,Roofus,Rep,Roofus Rep,roof.rep@traxidy.com,NaN,NaN,NaN,NaN,NaN,not_needed,2024-01-30 15:19:34,2024-01-30 15:19:34
529,665,2,219,231,Steve,McBroom,Steve McBroom,steve@traxidy.com,NaN,NaN,NaN,NaN,NaN,not_needed,2024-01-30 15:24:28,2024-01-30 15:24:28
530,666,2,293,231,Bobby,Builder,Bobby Builder,bbuilder@traxidy.com,NaN,NaN,NaN,NaN,NaN,not_needed,2024-01-30 15:24:28,2024-01-30 15:24:28
531,667,2,294,231,Wallimina,Good,Wallimina Good,wallgood@traxidy.com,NaN,NaN,NaN,NaN,NaN,not_needed,2024-01-30 15:24:28,2024-01-30 15:24:28
532,668,2,295,231,Roofus,Rep,Roofus Rep,roof.rep@traxidy.com,NaN,NaN,NaN,NaN,NaN,not_needed,2024-01-30 15:24:28,2024-01-30 15:24:28

In [23]:
df9 = pd.read_csv("revised_end_date_histories.csv")
df9

,id,project_id,revised_date,revised_work_days,created_at,updated_at
0,1,4,2022-06-09,156,2021-11-29 12:51:40,2021-11-29 12:51:40
1,2,3,2022-08-17,709,2021-12-19 06:30:04,2021-12-19 06:30:04
2,3,36,2022-02-16,9,2022-02-28 03:47:19,2022-02-28 03:47:19
3,4,2,2022-05-20,123,2022-03-05 09:08:16,2022-03-05 09:08:16
4,5,4,2022-06-13,158,2022-03-05 09:23:57,2022-03-05 09:23:57
5,6,4,2022-06-01,150,2022-03-05 09:24:05,2022-03-05 09:24:05
6,7,4,2022-07-14,181,2022-03-05 09:24:17,2022-03-05 09:24:17
7,8,4,2022-07-22,187,2022-03-05 09:38:09,2022-03-05 09:38:09
8,9,4,2022-08-01,193,2022-03-05 09:38:45,2022-03-05 09:38:45
9,10,60,2022-08-19,39,2022-03-14 06:35:41,2022-03-14 06:35:41
10,11,4,2022-08-24,210,2022-03-23 11:23:45,2022-03-23 11:23:45
11,12,4,2022-11-30,280,2022-03-28 08:00:30,2022-03-28 08:00:30
12,13,4,2022-07-15,182,2022-03-30 03:46:11,2022-03-30 03:46:11
13,14,4,2022-07-29,192,2022-03-31 05:11:56,2022-03-31 05:11:56
14,15,70,2022-07-11,111,2022-03-31 07:04:02,2022-03-31 07:04:02
15,16,4,2022-08-26,212,2022-03-31 12:46:24,2022-03-31 12:46:24
16,17,76,2023-03-31,267,2022-04-05 13:43:19,2022-04-05 13:43:19
17,18,97,2022-10-23,260,2022-04-05 13:46:42,2022-04-05 13:46:42
18,19,4,2022-03-30,105,2022-04-11 09:58:20,2022-04-11 09:58:20
19,20,4,2022-04-29,127,2022-04-11 09:59:40,2022-04-11 09:59:40
20,21,4,2022-07-25,188,2022-04-12 08:33:54,2022-04-12 08:33:54
21,22,2,2022-07-08,158,2022-05-23 05:23:41,2022-05-23 05:23:41
22,23,1,2022-09-30,154,2022-06-03 05:27:49,2022-06-03 05:27:49
23,24,2,2022-11-25,188,2022-06-17 12:22:23,2022-06-17 12:22:23
24,25,4,2022-08-17,205,2022-07-07 03:28:45,2022-07-07 03:28:45
25,26,2,2022-12-31,214,2022-07-13 04:48:12,2022-07-13 04:48:12
26,27,4,2022-10-14,247,2022-07-13 04:48:33,2022-07-13 04:48:33
27,28,58,2023-03-17,189,2022-08-17 04:59:22,2022-08-17 04:59:22
28,29,1,2023-07-13,358,2022-08-30 08:05:30,2022-08-30 08:05:30
29,30,4,2022-12-30,302,2022-08-30 08:05:59,2022-08-30 08:05:59
30,31,127,2023-01-31,76,2023-01-09 04:30:23,2023-01-09 04:30:23
31,32,127,2023-04-04,110,2023-02-09 07:23:30,2023-02-09 07:23:30
32,33,58,2023-06-30,288,2023-03-23 06:04:46,2023-03-23 06:04:46
33,34,58,2023-09-07,357,2023-03-23 06:04:53,2023-03-23 06:04:53
34,35,60,2023-08-17,396,2023-03-23 06:05:57,2023-03-23 06:05:57
35,36,127,2023-09-21,232,2023-04-20 04:41:05,2023-04-20 04:41:05
36,37,127,2023-09-28,237,2023-04-20 04:41:14,2023-04-20 04:41:14
37,38,132,2023-08-04,129,2023-06-13 12:53:14,2023-06-13 12:53:14
38,39,56,2024-01-26,299,2023-06-13 12:59:30,2023-06-13 12:59:30
39,40,132,2023-09-08,154,2023-07-04 06:57:16,2023-07-04 06:57:16
40,41,132,2023-11-24,209,2023-08-23 10:54:05,2023-08-23 10:54:05
41,42,127,2024-02-15,337,2023-08-23 11:05:52,2023-08-23 11:05:52
42,43,126,2024-11-06,527,2023-11-07 07:34:57,2023-11-07 07:34:57
43,44,201,2024-11-05,313,2023-11-07 07:35:22,2023-11-07 07:35:22
44,45,132,2024-11-14,463,2023-11-16 11:02:04,2023-11-16 11:02:04
45,46,127,2024-12-20,229,2024-01-17 04:03:09,2024-01-17 04:03:09

In [24]:
from pycaret.regression import *

s = setup(df9, target = 'revised_work_days')

In [25]:
best = compare_models()

In [26]:
df10 = pd.read_csv("risks.csv")
df10

,id,creator_id,project_id,owner_contact_id,owner_contact_name,risk_identifier,statement,impact,probability,score,rank,status,impacted_key_constraint,created_at,updated_at
0,1,2,4,6.0,T.J. Shalmark,R1,There is a risk that the information provided ...,2,35,70,NaN,open,schedule,2021-11-29 06:08:52,2022-04-03 08:54:47
1,2,2,4,NaN,Steve Sammy,R2,There is a risk that our support staff on this...,3,60,180,NaN,closed,scope_and_schedule,2021-11-29 06:09:28,2021-11-30 04:32:57
2,4,2,4,8.0,Sal Nuberg,R4,There is a risk that the information provided ...,4,70,280,NaN,closed,schedule_and_budget,2021-11-29 06:10:43,2022-04-11 13:11:02
3,5,2,4,5.0,Reggy Ralphson,R5,There is a risk that the information provided ...,4,55,220,NaN,closed,budget,2021-11-29 06:11:19,2021-12-08 13:31:00
4,6,2,4,111.0,Traxidy Gmail Acct,R6,There is a risk that the information provided ...,4,20,80,NaN,closed,scope_and_budget,2021-11-29 06:12:35,2022-07-06 05:19:36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,522,2,230,NaN,NaN,R2,may need to add windows if not enough light af...,3,30,90,NaN,open,budget_and_scope,2024-01-30 15:19:34,2024-01-30 15:19:34
366,523,2,230,NaN,NaN,R3,risk that the blueprints show incorrect measu...,5,15,75,NaN,open,scope_or_schedule_or_budget,2024-01-30 15:19:34,2024-01-30 15:19:34
367,524,2,231,NaN,NaN,R1,there is a risk that the materials are not all...,4,50,200,NaN,open,schedule,2024-01-30 15:24:28,2024-01-30 15:24:28
368,525,2,231,NaN,NaN,R2,may need to add windows if not enough light af...,3,30,90,NaN,open,budget_and_scope,2024-01-30 15:24:28,2024-01-30 15:24:28
369,526,2,231,NaN,NaN,R3,risk that the blueprints show incorrect measu...,5,15,75,NaN,open,scope_or_schedule_or_budget,2024-01-30 15:24:28,2024-01-30 15:24:28

In [28]:
from pycaret.regression import *

s = setup(df10, target = 'impact')

In [29]:
best = compare_models()

In [30]:
df11 = pd.read_csv("user_infos.csv")
df11

,user_id,user_project_is_for,usual_role,country,uses_project_management_office,average_project_team_size,working_department,working_industry,company_size,created_at,updated_at
0,1,work,Manager,NaN,0.0,6_10,IT,Technology,NaN,2021-11-22 12:27:59,2021-11-22 12:27:59
1,2,work,Manager,NaN,0.0,6_10,IT,Technology,1_10,2021-11-22 12:27:59,2022-01-04 06:57:34
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-22 12:27:59,2021-11-22 12:27:59
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-23 08:13:33,2021-11-23 08:13:33
4,5,personal,Project Manager,Canada,0.0,1_5,Finance,Insurance,1_10,2022-01-03 07:11:33,2022-01-03 09:03:50
...,...,...,...,...,...,...,...,...,...,...,...
91,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-21 07:01:43,2022-07-21 07:01:43
92,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-02 06:36:26,2022-08-02 06:36:26
93,94,personal,Manager,Canada,1.0,6_10,IT,Technology,1_10,2022-08-10 20:31:10,2022-08-10 20:33:25
94,95,work,Project Manager,Canada,NaN,6_10,Finance,Construction,11_50,2022-08-23 10:58:12,2022-08-23 11:00:20
95,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-24 05:32:41,2022-11-24 05:32:41

In [31]:
df13 = pd.read_csv("snapshots.csv")
df13

,id,project_id,date,overall_gyr_status,open_issues_count,past_due_actions_count,open_risks_count,open_ranked_risks_count,active_changes_count,created_at,updated_at
0,1,1,2021-11-23,green,0,0,0,0,0,2021-11-23 23:00:05,2021-11-23 23:00:05
1,2,2,2021-11-23,green,0,0,0,0,0,2021-11-23 23:00:05,2021-11-23 23:00:05
2,3,3,2021-11-23,green,0,0,0,0,0,2021-11-23 23:00:05,2021-11-23 23:00:05
3,4,1,2021-11-24,green,0,0,0,0,0,2021-11-24 23:00:04,2021-11-24 23:00:04
4,5,2,2021-11-24,green,0,0,0,0,0,2021-11-24 23:00:05,2021-11-24 23:00:05
...,...,...,...,...,...,...,...,...,...,...,...
15262,15263,135,2024-01-30,green,65,65,25,10,0,2024-01-30 23:00:14,2024-01-30 23:00:14
15263,15264,202,2024-01-30,green,0,0,0,0,0,2024-01-30 23:00:14,2024-01-30 23:00:14
15264,15265,229,2024-01-30,green,0,0,0,0,0,2024-01-30 23:00:14,2024-01-30 23:00:14
15265,15266,230,2024-01-30,green,0,0,3,0,0,2024-01-30 23:00:15,2024-01-30 23:00:15
15266,15267,231,2024-01-30,green,0,0,3,0,0,2024-01-30 23:00:15,2024-01-30 23:00:15

In [32]:
from pycaret.regression import *

s = setup(df10, target = 'overall_gyr_status')--> Change this column to numerically one

ValueError: Invalid value for the target parameter. Column overall_gyr_status not found in the data.